  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    a{text-decoration: none;color:#fff;}
    body, html {
      height: 100%;
      font-family: 'Montserrat', sans-serif;
      font-weight:normal;
      background-color:#000;
      -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
      display: none;
    }
    body.locked {
      overflow: hidden;  /* 기본적으로 스크롤 막기 */
    }
    body.unlocked {
      overflow: auto;  /* 마지막 섹션에서는 일반 스크롤 가능 */
    }
    h1, h2, h3,h4,h5{
      font-family: 'Montserrat', sans-serif;
      font-weight:900;
    }
    .content p.pot{
      font-family: 'Montserrat', sans-serif;
      font-weight:600;
      padding-top:0;
      padding-bottom:8%;
    }
    p{
      font-family:'Pretendard', sans-serif;
      font-weight:200;
    }
    .main_page .section {
      height: 100vh;
      display: flex;
      align-items: center;
      position: relative;
      scroll-snap-align: start;
      padding:0 50px;
      background-size:cover;
      background-repeat:no-repeat;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .main_page .section.visible {
      opacity: 1;
    }
    .main_page .section-1 { background-image: url('../img/main/main_bg1.jpg');justify-content: flex-start;}
    .main_page .section-2 { background-image: url('../img/main/main_bg2.jpg');justify-content: flex-start; }
    .main_page .section-3 { background-image: url('../img/main/main_bg3.jpg');justify-content: flex-start; }
    .main_page .section-4 { background-image: url('../img/main/main_bg4.jpg');justify-content: flex-start; }
    .main_page .section-5 { background-image: url('../img/main/main_bg5.jpg'); }
    .main_page .section-6 { background-color: #000; }
    .main_page .section-1 .content h1{text-align:left;}
    .main_page .section-2 .content h1{text-align:left;}
    .main_page .section-3 .content h1{text-align:left;}
    .main_page .section-4 .content h1{text-align:left;}
    .main_page .section-5 .content h1{text-align:left;}
    .main_page .section-6 .content h1{text-align:left;}
    .main_page .section-6 .content{max-width:100%;}

    .sub1_page .section{
      height:100vh;
      position: relative;
      scroll-snap-align: start;
      display: flex;
      align-items: flex-start;
      padding:5% 50px;
      background-size:cover;
      background-repeat:no-repeat;
    }
    .sub1_page .section-1{
      background-image: url('../img/main/main_bg2.jpg');}
    .sub1_page .tag_box{
      padding-top:20px;
      display:flex;
      flex-wrap:wrap;
      width:60%;
      gap:15px;
    }
    .sub1_page .section-3{
     background-color:#0f131f;
    }
    .sub1_page .tag_box span{
     color:#fff;
     padding:5px 40px;
     border:1px solid #fff;
     border-radius:10px;
    }
    .sub1_page .section-3 content.info_text{
     text-align:center;
    }
    #top-gnb {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: transparent;
      z-index: 1000;
    }

    #top-gnb ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 10px 50px;
    }
    #top-gnb a {
      color: white;
      text-decoration: none;
    }
    .content{max-width:1920px;padding:0 10%;width:100%;}
    
    /* 모든 h1 기본 숨김 */
    .content h1 {
      font-size: 5rem;
      color: white;
      min-width:560px;
      /* opacity: 0;               /* 초기에는 안 보이도록 */ */
      /* transform: translateY(20px); /* 아래에서 올라오는 효과 */ */
      /*transition: opacity 2.0s ease, transform 2.0s ease; */
      white-space: pre-line;     /* <br> 태그를 줄바꿈으로 처리 */
    }
    .content p{color:#fff;font-size:2rem;padding-bottom:2rem;}
    
    /* 애니메이션 시작 시 보이게 */
    .content h1.visible {
      opacity: 1;
      transform: translateY(0); 
    }
    .content .btn_into{color: #Fff;
      padding: 10px 30px;
      border: 1px solid #fff;
      margin-top: 50px;
      display: inline-block;
      text-decoration: none;}
    
    /* 각 글자 개별 애니메이션 설정 */
    .char {
      display: inline-block;
      /*opacity: 0;                /* 초기 글자 숨김 */ */
      /*transform: translateY(20px);  */
      /*transition: opacity 0.4s ease, transform 0.4s ease; */
      /*transition: opacity 0.4s ease; */
    }
    
    .char.visible {
      opacity: 1;               /* 애니메이션으로 글자 보이게 */
      transform: translateY(0); 
    }
    
    .main_page .section-1 .content span.char.visible:nth-child(36),.main_page .section-1 .content span.char.visible:nth-child(37),.main_page .section-1 .content span.char.visible:nth-child(38),.main_page .section-1 .content span.char.visible:nth-child(39),.main_page .section-1 .content span.char.visible:nth-child(41),.main_page .section-1 .content span.char.visible:nth-child(42),.main_page .section-1 .content span.char.visible:nth-child(43),.main_page .section-1 .content span.char.visible:nth-child(44),.main_page .section-1 .content span.char.visible:nth-child(45),.main_page .section-1 .content span.char.visible:nth-child(46),.main_page .section-1 .content span.char.visible:nth-child(47),.main_page .section-1 .content span.char.visible:nth-child(48){color:#c38b00;}
    .nav-container {
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }

    .nav-item {
      margin: 10px 0;
    }

    .nav-item a {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      transition: background-color 0.3s;
    }
    .nav-item a.active {
      background-color: #333;
    }
    .map_box{
      padding-top:5%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
    }
    .google_map{width:50%;height:480px;}
    .google_map iframe{width:100%;height:100%;}
    .map_info{width:50%;padding:0 5%;}
    .map_info p{
      margin-top:0;
      font-size:1.5rem;}
    .map_info p:last-child{padding-bottom:0;}
    .map_info p b{
      font-size:2.5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight:600;
    }
    .footer{width:100%;padding:50px;background-color:#040d1c;}
    .footer p{text-align:center;}
    .footer p:nth-child(1){
      color:#c58c00;
    }
    .footer p:nth-child(2){padding:40px 0;}
    .footer p:nth-child(2) a{
      color:#fff;
      font-family: 'Montserrat', sans-serif;
      font-weight:600;
      padding:0 20px;
    }

@media (max-width: 1920px) {
 .content{padding:0 5%;}
}
@media (max-width: 1280px) {
 .content{padding:0 3%;}
 .content p{font0-size:1.8rem;}
 .content h1{font-size:4rem;}
 .content .btn_into{font-size:0.8rem;}
}
@media (max-width: 990px) {
 .content{padding:0}
 .content p{font0-size:1.5rem;}
 .content h1{font-size:3.5rem;}
 .content .btn_into{font-size:0.5rem;}
}
